*,
*::before,
*::after {
    box-sizing: border-box;
}
.video h1{
    font-size:3rem;
    font-weight: bolder;
    color: white;
}
.video p{
    font-size: large;
    font-weight:400;
    max-width: 40%;
    color: white;
}
.video{
    position: absolute;
    display: flex;
    flex-direction: column;
     gap: 20px;
    padding-top: 10rem;
     width: 100vw;
     padding-left: 1rem;
    aspect-ratio: 16/9;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.833),rgba(255, 255, 255, 0));

    
}
.vbutton{
    border-radius:5px;
    padding: .3rem .6rem;
    background-color: whitesmoke;
    border: solid black 1px;
}

.vbutton:hover{
    background-color: red;
    color: white;
}

.vb{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iframe iframe{
    width: 100vw;
    height: 100%;
    aspect-ratio: 16/9;
}

::-webkit-scrollbar{
    width: 0;
}